.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  font-family: 'Shift', sans-serif;
  background-image:url('./NeuronGolgi.png');
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container-fluid {
  position: relative;
  padding-top: 10px;
  padding-left:100px;  
  padding-right:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.graph-guides {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.graph-guides h2{
    color: #393c3d;
    font-size: 24px;
}

.graph-guides p{
    font-size: 15px;
    margin-bottom: 13px;
}

[type="image"]{
    width: 100%;
}

.faded {
  opacity:.4;
}

.learn-more {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.axis text {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

